body {
  background-color: black;
  color: white;
  animation: 1s ease-out 0s 1 slideInFromLeft;

  
  
}

#title {
  font-size:45px;
  
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}



@media (min-width: 610px) {
        body {
                width: 600px;
        }
}
@media (max-width: 610px) {
        body {
                width: 80%;
        }
}
html {
        font-family: 'Crimson Text', verdana;
}
body {
        margin: auto;
}

a:link{
        color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}


footer{
        margin-bottom: 30px;
}
article{
        counter-reset: heading;
}
article h2::before{
        counter-increment: heading;
        content: '0'counter(heading)': ';
}
#toc h2 {
        text-transform: uppercase;
        font-size: 11pt;
        letter-spacing: 2px;
}
#toc h3 {
        font-weight: normal;
        font-size: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 2s;
}

li a:hover {
  background-color: #080808;
  transition: 2s;
}

a, a:visited, a:active, a:hover{
  color: red;
  
}

#gradient {
  background-image: linear-gradient(black, red);
  height: 100px;
   position: relative;
}
