body {
  background-color: black;
  color: white;
  font-family: verdana;
  text-align: center;
}

a, a:visited, a:active, a:hover{
  color: red;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 2s;
}

li a:hover {
  background-color: #080808;
  transition: 2s;
}

#gradient {
  background-image: linear-gradient(black, red);
  height: 100px;
   position: relative;
}
