body {
  background-color: black;
  color: white;
  font-family: Verdana;
  
}

.Title {
  font-size: 20px;
  background: -webkit-linear-gradient(#fc9, #f0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.scripts {
  font-size: 20px;
  border: 3px solid pink;
  border-radius: 5px;
  margin: 10px;
  
  
}
