body {
  background-color: #4B4D5F;
  color: white;
  font-family: Montserrat;
  font-size: 80px;
  overflow: hidden;
}

a, a:visited, a:active {
  color: white;
  text-decoration: none;
}

.zen {
  
  text-align: center;
  animation: fadeIn 10s;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }
  
  to {
    background-position: 0% -100%;
  }
}

@keyframes pan-image {  
  0% {
    background-position: 36% 42%;
    background-size: 200%;
  }
  
  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }
  
  20.0001% { /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 500%;
  }
  
  40% {
    background-position: 49% 81%;
    background-size: 500%;
  }
  
  40.0001% { /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 300%;
  }
  
  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }
  
  60.0001% { /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 300%;
  }
  
  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }
  
  80.0001% { /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 300%;
  }
  
  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}

.image {
  animation: pan-image 60s linear infinite;
  background-image: url("https://images.unsplash.com/photo-1519501025264-65ba15a82390?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80");
  z-index: 2;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background-size: 300%;
  background-position: 0% 0%;
  position: absolute;
  filter: sepia(100%) hue-rotate(160deg);
  
}

.h1 {
   opacity: 0;
  padding: 100px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }